@{
    Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="container">
    <h1>Delete Machine</h1>
</div>
<hr />
<div class="container">
    <h2>Are you sure you want to delete @Html.DisplayFor(model => model.MachineName)? This action cannot be undone.</h2>
</div>

@using (Html.BeginForm())
{ <div class="center">
    <input type="submit" value="Delete" class="button" />
</div>
}
<hr />
<div class="link-container">
    <p>@Html.ActionLink("Back to All Machines", "Index")</p>
    <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
</div>